// Media Query

@mixin device($device) {
  @if $device == tablet {
    @media (min-width: 700px) {
      @content;
    }
  }  
  @else if $device == desktop {
    @media (min-width: 75rem) {
      @content;
    }
  }
}

// Colors

$color1: #FFFFFF;
$color2: #F8EEFF;
$color3: #8B6990;
$color4: #AD28EB;
$color5: #301534;


//Typography
$fonts: (
  "$xsmall": 14px,
  "$small": 16px,
  "$medium": 18px,
  "$large": 56px,
);