// Media Query

@mixin device($device) {
  @if $device == tablet {
    @media (min-width: 700px) {
      @content;
    }
  }  
  @else if $device == desktop {
    @media (min-width: 75rem) {
      @content;
    }
  }
}

// Colors

$color1: #FFFFFF;
$color2: #423A3A;
$color3: #EE8B8B;
$color4: #CE9898;
$color5: linear-gradient(to bottom, #FFFFFF, #FFF4F4);

//Typography
$fonts: (
  "$xsmall": 14px,
  "$small": 15px,
  "$medium": 24px,
  "$large": 28px,
  "$large2": 40px,
  "$large3": 64px,
);